@font-face {
    font-family: 'combine';
    src: url("Fonts/CombineMantiraSans.otf");
}

@font-face {
    font-family: 'witcher';
    src: url("Fonts/WitcherHandwritingRegular.ttf");
}

@font-face {
    font-family: 'monainn';
    src: url("Fonts/MonainnRegular.otf");
}

nav{
    display: flex;
    gap: 5px;
    padding-left: 0px;
    justify-content: space-around;
    align-items: center;
}

nav h2{
    margin-right: 20px;
}

a{
    flex: 1;
    color: black;
    background-color: rgb(170, 94, 231);
    text-align: center;
    padding: 10px;
}

a:hover{
    background-color: rgb(113, 39, 184);

}

a{
    color: black;
}

a:visited{
    color: black;
}

header{
    padding: 5px;
    color: white;
    background-color: navy;
    text-align: center;
}

.article1{
    display: flex;
}

.article1 article{
    flex: 1;
}


article{
    position: relative;
    top: 30px;
    margin: 5px;
    border: 5px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid #B19CD9 ;
}

a{
    text-decoration: none;
}
body{
    background-color: #260154;
    color: white;
    cursor: default;
    margin: 0px;
}

h1{
    text-align: center;
    font-family: "combine";
    font-size: 50px;
    letter-spacing: 2px;
}

h2{
    font-family: "witcher";
    margin-top: 40px;
}

article h2{
    margin-top: 16px;
}

nav{
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(170, 94, 231);
    width: 100%;
    position: absolute;
    top: 0px;
    margin-bottom: 10px;
}

main{
    position: relative;
    top: 100px;
    margin: 8px;
}

p{
    font-family: "monainn";
    font-size: larger;
    letter-spacing: 2px;
}

#sBar{
    margin-top: -150px;
    margin-bottom: -150px;
    margin-left: 28px;
    margin-right: auto;
    height: 400px;
}

#smol{
    font-size: xx-small;
    margin: -100px;
    margin-left: 15px;
    z-index: 999;
    position: fixed;
    -webkit-animation: bgcolor 15s infinite;
    animation: bgcolor 7.5s infinite;
    
    -webkit-animation: txtcolor 15s infinite;
    animation: txtcolor 7.5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    
}

#larg{
    font-size: 200px;
    margin-left: 10px;
}

#diff{
    display: flex;
}

#diff ul{
    flex: 1;
}

#diff li{
    font-family: "monainn";
    font-size:larger;
    letter-spacing: 2px;
}

#centered{
    text-align: center;
}

@keyframes bgcolor {
    0% {
        background-color: #552586
    }

    50% {
        background-color: #6A359C
    }

    100% {
        background-color: #6d3ca1
    }
}



body {
    -webkit-animation: bgcolor 15s infinite;
    animation: bgcolor 7.5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes thisbutton {
    from {
        transform: translate(0px);
    }
    
    to {
        transform: translate(200px);
    }
    
}

#test a{
    transition: transform 0.5s;
    padding:10px; 
    border:2px solid white; 
    display:inline-block;
}

#test a:hover{
    transform: translateX(20px);
}

