@font-face {
    font-family: 'combine';
    src: url("Fonts/CombineMantiraSans.otf");
}

@font-face {
    font-family: 'witcher';
    src: url("Fonts/WitcherHandwritingRegular.ttf");
}

@font-face {
    font-family: 'monainn';
    src: url("Fonts/MonainnRegular.otf");
}

ul{
    display: flex;
    gap: 5px;
    padding-left: 0px;
    justify-content: space-around;
}

ul a{
    flex: 1;
}

li{
    flex: 1;
    list-style: none;
    color: black;
    background-color: rgb(170, 94, 231);
    text-align: center;
    padding: 10px;
}

ul a li:hover{
    background-color: rgb(113, 39, 184);

}

a{
    color: black;
}

a:visited{
    color: black;
}

header{
    padding: 5px;
    color: white;
    background-color: navy;
    text-align: center;
}

#article1{
    display: flex;
}

#article1 article{
    flex: 1;
}


article{
    position: relative;
    top: 30px;
    margin: 5px;
    border: 5px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid #B19CD9 ;
}

a{
    text-decoration: none;
}
body{
    background-color: #260154;
    color: white;
}

h1{
    text-align: center;
    font-family: "combine";
    font-size: 50px;
    letter-spacing: 2px;
}

h2{
    font-family: "witcher";
}

nav{
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(170, 94, 231);
    width: 100%;
    position: absolute;
    top: 0px;
    margin-bottom: 10px;
}

main{
    position: relative;
    top: 100px;
}

p{
    font-family: "monainn";
    font-size: larger;
    letter-spacing: 2px;
}

#sBar{
    margin-top: -150px;
    margin-bottom: -150px;
    margin-left: 28px;
    margin-right: auto;
    height: 400px;
}

#smol{
    font-size: xx-small;
    color: #260154;
    margin: -100px;
    margin-left: 15px;
    z-index: 999;
    position: fixed;
}

#larg{
    font-size: 200px;
    margin-left: 10px;
}